<%
BoardPage page = *(BoardPage *)input;
Board *board = page.board;
UUID userid = page.user;
%>
<div class="container">
  <div class="section">
    <% if( strcmp(board->userid, userid)==0 ){ %>
      <a class="button" href="/boards?board=<%= board->id %>/edit">✏️ Edit</a>

      <% if( board->votes != NULL ){ %>
      <a class="button is-link is-light" href="/boards/reset?board=<%= board->id %>" title="This will clear votes and ask users to vote again">✋ Request New Votes</a>
      <% } %>

      <% if( board->hidden ){ %>
        <a class="button is-info is-light" href="/boards/show?board=<%= board->id %>">👁️ Show Votes</a>
      <% }else{ %>
        <a class="button is-info is-light" href="/boards/hide?board=<%= board->id %>">👁️ Hide Votes</a>
      <% } %>

    <% } %>
    <a class="button is-success is-light" href="/boards/vote?board=<%= board->id %>">🗳️ Vote</a>
  </div>

  <div class="section">

    <% if(board->votes == NULL){  %>
      <div class="notification">
        No votes yet. Waiting for the team to vote...
      </div>
    <% }else{ %>
      <h1 class="title">
        🗳️ <%= intToChar(board->votes_count) %> Votes
        <% if(! board->hidden ){ %>
          | <% for(Hash *stat=board->votes_stats; stat != NULL; stat = stat->next){ %>
              <%= stat->key %> <sub>×<%= intToChar(*(int*) stat->value) %></sub>
            <% } %>
        <% } %>
      </h1>
    <% } %>

    <div class="columns is-multiline is-centered">
      <% for(Vote *vote = board->votes; vote != NULL; vote = vote->next){ %>
        <div class="column is-one-quarter">
          <div class="card">
            <div class="card-content has-text-centered">
              <div class="title" style="font-size: 9em;<%= (board->hidden)? "filter: blur(1rem);" : "" %>">
                <% if(board->hidden){ %>
                  X
                <% }else{ %>
                  <%= h(vote->vote) %>
                <% } %>
              </div>
              <div class="subtitle"> <%= h(userid) %> </div>
            </div>
          </div>
        </div>
        <% } %>
    </div>

  </div>
</div>

<iframe frameborder="0" src="/boards/check?board=<%= board->id %>&time=<%= timeToChar(board->updated_at) %>" style="width:0;height:0;display:absolute;"></iframe>
