<% Board *board = input; %>
<section class="section">
  <div class="container">

    <% if( board->id ){ %>
    <form action="/boards/edit?board=<%= board->id %>" method="POST">
    <% }else{ %>
    <form action="/boards" method="POST">
    <% } %>

      <div class="field">
        <label class="label" for="columns">Options</label>
        <div class="control">
          <textarea class="textarea" placeholder="Each line an option..." name="options" id="columns" autofocus><%= board->options_str %></textarea>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-link" type="submit">Create</button>
        </div>
      </div>

    </form>

  </div>
</section>
