<% Board *board = input; %>
<section class="section">
  <div class="container">
    <h1 class="title">
      Vote
    </h1>

    <div class="columns is-multiline">

      <% for(Option *option=board->options; option != NULL; option = option->next){ %>
        <div class="column is-one-third">
          <div class="card">
            <div class="card-content has-text-centered">
              <form action="/boards/vote?board=<%= board->id %>" method="POST">
                <input name="vote" type="hidden" value="<%= option->value %>"/>
                <button class="button is-ghost" style="font-size: 5em;" type="submit"><%= option->value %></button>
              </form>
            </div>
          </div>
        </div>
      <% } %>

    </div>
  </div>
</section>
